:root {

  --btn-bg: linear-gradient(135deg, #d08a79, #f0d6c3);
  --btn-text-color: #fff;
  --btn-font: 'Poppins', sans-serif;
  --color-bg: linear-gradient(0deg, #68bedb8e, #d4e4ef00);
  --btn-padding: 12px 24px;
  --btn-border-radius: 12px;
  --btn-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
  --btn-hover-bg: linear-gradient(135deg, #feb47b, #ff7e5f);
  --btn-hover-shadow: 0 6px 14px rgba(0, 0, 0, 0.8);
  --btn-transition: all 0.3s ease-in-out;
}


.Root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.Body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  scrollbar-width: none; /* ocultar en firefox */
}
.Body::-webkit-scrollbar,html::-webkit-scrollbar{
  display: none; /* ocultar en Chrome, safari y edge */
}

html{
overflow: auto;
scrollbar-width: none;
}

/* HOME */
.Home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Home-links {
  display: flex;
  gap: 20px;
}

.Home-link {
  background: var(--btn-bg);
  display: inline-block;
  color: var(--btn-text-color);
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  /* box-shadow: var(--btn-shadow); */
  transition: background-color 0.4s ease-in-out, box-shadow 1s ease-in-out, transform 1s ease-in-out;
}

.Home-link:hover {
  background: var(--btn-hover-bg);
  box-shadow: var(--btn-hover-shadow);
  transform: translateY(-10px);
}

/* SECCIONES */

.Main {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.OutletWrapper{
  min-height: 100vh;
  padding-bottom: 12vh;
  flex: 1;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}