.Slider{
    display: flex;
}

.Selected-day {
    color: rgb(111, 29, 116);
    font-weight: 700;
}

.Slider-btn{
    padding: 0.8rem;
    border-radius: 20px;
    height: 60px;
    width: 40px;
    background-color: azure;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.Slider-btn:hover{
    background-color: rgb(148, 148, 202);
}

.BloqueHoras {}

.Bloquehoras-10 {
    background-color: blue;
    padding: 1rem;
    border-radius: 20px;
}

.CalendarioHoras {
    padding: 1rem;
    border-radius: 20px;
    background-color: aquamarine;
}

.CalendarioHoras-0,
.CalendarioHoras-11 {
background-color: rgb(196, 243, 162);}

.CalendarioHoras-1,
.CalendarioHoras-13 {
    background-color: pink;
}

.CalendarioHoras-2,
.CalendarioHoras-14 {}

.CalendarioHoras-3,
.CalendarioHoras-15 {}

.CalendarioHoras-4,
.CalendarioHoras-16 {}

.CalendarioHoras-5,
.CalendarioHoras-17 {}

.CalendarioHoras-6,
.CalendarioHoras-18 {}

.CalendarioHoras-7,
.CalendarioHoras-19 {}

.CalendarioHoras-8,
.CalendarioHoras-20 {}

.CalendarioHoras-9,
.CalendarioHoras-21 {}

.CalendarioHoras-10,
.CalendarioHoras-22 {}

.CalendarioHoras-11,
.CalendarioHoras-23 {}

.CalendarioHoras-12,
.CalendarioHoras-24 {}



/* FORM del calendario */

.CalendarForm{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px); /*defenfoque a lo q hay detras del background color  de este elemnto */
    border-radius: 20px;
    padding: 2rem;
    max-width: 550px;
    margin: 0 auto;
}

.CalendarForm-input,.CalendarForm-textarea,.CalendarForm-select{
    border: none;
    border-radius: 14px;
    padding: 0.8rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.CalendarForm-btn{
    padding: 0.8rem;
    font-weight: 600;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}