.WelcomePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.WelcomePage-div{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 50px 50px 0 0 ;
    background: var(--color-bg);
}
.WelcomePage-content{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.foto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

