.CalendarHeader {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 24px 0;
}

.CalendarHeader-btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 1rem;
  border-radius: 50%;
  background-color: #e57373;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CalendarHeader-btnImg {
  width: 28px;
  height: 28px;
}

.Slider {
  display: flex;
  overflow-x: auto;
  gap: 0.2rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  width: 100%;
  max-width: 100vw;
  max-width: 100dvw;
  scrollbar-width: none;
  scroll-behavior: smooth;
  gap: 10px;
}

.Slider-btn {
  scroll-snap-align: center;
  /* hace que busque un slider-btn para centrarse y asi da la sensacion de suavidad.. o de que va buscando un dia  */
  padding: 0.8rem;
  border-radius: 20px;
  height: 60px;
  width: 40px;
  background-color: var(--box-activities);
  transition: background-color 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2.8px solid var(--btn-bg-color);
  box-shadow: 0 0 0 3px var(--btn-bg-color-intense);
  /* simula otro borde con color */
}

.Slider-btn:hover {
  background-color: var(--btn-bg-color);
}

.Selected-day {
  color: var(--color-text-p);
  font-weight: 700;
  background: var(--btn-bg-color);
}

/* Bloque de horas y actividades */

.Actividades {
  /* position: relative; */
  background-color: var(--box-activities);
  width: 90%;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.Actividades-btn {
  padding: 0;
  background: none;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  color: var(--color-text-intense);
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  transition: color 0.5s ease-in-out;
}

.Actividades-btn:hover {
  color: var(--color-text-t);
  text-decoration: underline;
}

.Actividades-h3 {
  font-size: 1.25rem;
  margin-bottom: 16px;
  color: var(--color-text-p);
  font-weight: 700;
}

/* mensaje flotante toast */

.ToastMessage {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #4caf50;
  border-radius: var(--btn-radius);
  color: white;
  padding: var(--btn-padding);
  box-shadow: var(--box-shadow);
  animation: fadeInOut 1s ease-in-out;
  pointer-events: none;
  /* evitar salto petardeo al final*/
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* bloque de horas */

.BloqueHoras {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  border-bottom: 0.2px solid rgb(201, 197, 197);
}

.BloqueHoras-h4 {
  font-size: 0.9rem;
}

.Bloquehoras-10 {
  background-color: var(--btn-bg-color);
  padding: 1rem;
  border-radius: 20px;
}

.CalendarioHoras {
  margin: 12px;
  padding: 10px 16px;
  color: var(--color-text-p);
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  height: 58px;
  border-radius: 10px;
  /* background-color: rgb(103, 156, 139); */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 3px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actividad-futura {
  background-color: var(--color-act-futura);
}

.actividad-pronto {
  background-color: var(--color-act-pronto);
}

.actividad-pasada {
  background-color: var(--color-act-pasada);
}

/* FORM del calendario */

.CalendarForm {
  /* position: absolute; */

  margin: 20px auto;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  /*defenfoque a lo q hay detras del background color  de este elemnto */
  border-radius: 20px;
  padding: 2rem;
  max-width: 550px;
  max-height: 90vh;
  overflow-y: auto;
}

.CalendarForm-input,
.CalendarForm-textarea,
.CalendarForm-select {
  font-family: var(--font-main);
  border: none;
  border-radius: 14px;
  padding: var(--btn-padding);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  appearance: none;
  /* <- Esto desactiva el estilo nativo */
}

.CalendarForm-select {
  cursor: pointer;
}

.CalendarForm-input:focus,
.CalendarForm-textarea:focus,
.CalendarForm-select:focus {
  border-color: var(--btn-bg-color);
}

.CalendarForm-btn {
  padding: var(--btn-padding);
  font-weight: 700;
  border: none;
  border-radius: var(--btn-radius);
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.922);
  transition: background-color 0.3s ease-in-out;
}

.CalendarForm-btn--confirm {
  background-color: #559c77eb;
  border: 4px solid #5d9444;
  box-shadow: 0 4px 12px rgba(76, 154, 42, 0.2);
}

.CalendarForm-btn--cancel {
  background-color: #554864eb;
  border: 4px solid #59486beb;
  box-shadow: 0 4px 12px rgba(166, 124, 109, 0.2);
}

.CalendarForm-btn--confirm:hover {
  background-color: #5d9444;
}

.CalendarForm-btn--cancel:hover {
  background-color: #59486beb;
}

/* parte de la actividad seleccionada  */

.ActividadSeleccionada {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  margin: 2rem auto;
  border: 1px solid #f0f0f0;
  width: 90%;
  height: auto;
}

.ActividadSeleccionada-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-p);
  transition: background-color 0.5s ease-in-out;
}

.ActividadSeleccionada-close:hover {
  background-color: var(--white);
}

.ActividadSeleccionada-h3 {
  font-size: 1rem;
  color: var(--color-text-t);
  margin-bottom: 1rem;
  font-weight: 600;
}

.ActividadSeleccionada-h4 {
  font-size: 1.25rem;
  color: var(--color-text-p);
  margin: 0.5rem 0;
}

.ActividadSeleccionada-fecha {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.ActividadSeleccionada-p {
  color: var(--color-text-s);
  line-height: 1.5;
  margin: 0.5rem 0;
}

.ActividadSeleccionada-h5 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-text-s);
}

.ActividadSeleccionada-botones {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.ActividadSeleccionada-btn {
  flex: 1;
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background-color 0.8s ease-in-out;
}

.ActividadSeleccionada-btn--edit {
  background-color: #5c6ab4;
  color: white;
}

.ActividadSeleccionada-btn--edit:hover {
  background-color: #4b5bb2;
}

.ActividadSeleccionada-btn--delete {
  background-color: #f5f5f5;
  color: #c0392b;
  border: 1px solid #e0e0e0;
}

.ActividadSeleccionada-btn--delete:hover {
  background-color: #fbeaea;
}

/* personalizacion calendario */

.CalendarHeader ~ .react-calendar {
  background-color: #fdf3eb;
}
.react-calendar__tile--hasActive {
  color: white;
  /* background: #4b5bb2; */
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__year-view__months__month {
  background: #e57373;
}

@media (min-width: 768px) {
  .CalendarForm {
    width: 700px;
    max-width: 700px;
    margin: 40px auto;
  }

  .Actividades-btn {
    font-size: 0.9rem;
  }

  .CalendarioHoras {
    font-size: 0.9rem;
  }

  .react-calendar {
    width: 500px;
  }

  .Slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ActividadSeleccionada {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .Actividades {
    width: 80%;
  }

  .CalendarHeader {
    width: 80%;
  }

  .Slider {
    width: 80%;
    padding: 2rem 0 2.5rem 0;
  }

  .CalendarForm {
    width: 800px;
    max-width: 800px;
    margin: 50px auto;
  }

  .Actividades {
    padding: 40px;
  }

  .Actividades-h3 {
    font-size: 1.5rem;
  }

  .CalendarForm-input {
    font-size: 1rem;
  }

  .CalendarForm-select {
    font-size: 1rem;
  }

  .CalendarForm-textarea {
    font-size: 0.9rem;
  }

  .ActividadSeleccionada {
    width: 60%;
  }
}
