.Login,
.Register {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('/img/fondo-escena.png');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.Login-container,
.Register-container {
    padding: 40px 30px;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    height: 65vh;
    bottom: 0;
    left: 0;
    border-radius: 40px 40px 0 0;
    background-color: #fef7ee;
    align-items: center;
    /* justify-content: space-evenly; */
}
.Register-container{
    background-color: #f4e7d5;

}

.Login-form,
.Register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.Login-h1,
.Register-h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-text-p);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-text-p);
}

.Login-divForm,
.Register-divForm {
    width: 100%;
}

.Login-label,
.Register-label {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-s);
}

.Login-inputTitle,
.Register-inputTitle {
    margin: 0 0 10px 10px;
    font-weight: 500;
    color: var(--color-text-p);
}


.Login-input,
.Register-input {
    height: 45px;
    border-radius: var(--btn-radius);
    border: 1px solid #c2d4e5;
    font-size: 0.875rem;
    box-shadow: var(--box-shadow);
    padding: 0 16px;
}

.Login-input {
    background-color: #f5faff;

}

.Register-input {
    background-color: #f5faff;

}

.Login-input:focus {
    outline: none;
    border: 2px solid #73bbdd;
}

.Register-input:focus {
    outline: none;
    border: 2px solid #4f7cac;
}

.Login-btn,
.Register-btn {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    border-radius: var(--btn-radius);
    border: none;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    transition: background-color 0.6s ease-in-out;
    cursor: pointer;
}

.Login-btn {
    background-color: #4f7cac;
}

.Register-btn {
    background-color: #4f7cac;
}

.Login-btn:hover {
    background-color: #7db2cb;
}

.Register-btn:hover {
    background-color: #395f78;

}


.Login-divLogin,
.Register-divLogin {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px 10px;
    font-size: 14px;
    gap: 20px;
}

.Login-textRegister {
    color: var(--color-text-s);
}

.Register-textLogin {
    color: var(--color-text-s);
}

.Register-linkLogin {
    color: var(--color-text-s);
    font-weight: 700;
}

.Register-linkLogin:hover{
    color: #395f78;
}


.Login-linkRegister {
    color: var(--color-text-s);
    font-weight: 700;
    transition: color 0.6s ease-in-out;
}

.Login-linkRegister:hover {
    color: #73bbdd;
}