.WelcomePage {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* background-color: rgb(229, 234, 161); */
}

.WelcomePage-fondo {
    /* position: absolute;
    top: 0;
    left: 0; */
    min-height: 100vh;
    aspect-ratio: 16/9;
    object-fit: cover;
    z-index: 0;
}

.WelcomePage-logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.1))
}

.WelcomePage-div {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border-radius: 50px 50px 0 0;
    /* background: var(--color-bg); */
    background-color: #fbfdfd;
    ;
}

.WelcomePage-content {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

/* .foto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.WelcomePage-lines {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.WelcomePage-line {
    border: 4px solid #6b9ea1;
    width: 40px;
    border-radius: 40px;
}

.WelcomePage-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.WelcomePage-title {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(90deg, #f26483, #faa536);
    /* para que solo coja las letras */
    -webkit-background-clip: text;
    /* hace que el color normla del texto sea transparente, lo q hace q solo se vea el color del bakground */
    color: transparent;
    pointer-events: none;
    font-family: var(--font-logo);
}

.WelcomePage-subtitle {
    font-size: 1.2rem;
    color: rgb(112, 115, 115);
}

.WelcomePage-link {
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    padding: 20px;
    background: linear-gradient(135deg, #31b4ba, #67a2a5);
    border: 4px solid #8ed0d3;
    border-radius: 2.5rem;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s ease-out;

}

.WelcomePage-link:hover {
    background: linear-gradient(135deg, rgb(57, 173, 179), #6b9ea1);
    transform: scale(1.03);
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.12);
}


@media (min-width: 768px) {
    .WelcomePage-title {
        font-size: 42px;
    }

    .WelcomePage-logo {
        width: 280px;
    }

    .WelcomePage-div {
        border-radius: 60px 60px 0 0;
    }
}

@media (min-width: 1024px) {
    .WelcomePage-title {
        font-size: 36px;
    }

    .WelcomePage-div {
        border-radius: 100px 100px 0 0;
    }
}