:root {
  --color-text-p: #412525;
  --color-text-s: #421f1f;
  --color-text-t: #4d3b3b;
  --color-text-intense: #550e03;

  --font-main: "Nunito", sans-serif;
  --font-logo: "Quicksand", sans-serif;
  --font-onboarding: "Playfair Display", serif;
  --color-bg: #f9e2cc;
  --color-bg-entering: #ffeaea;
  --color-bg-calendar: #f9dfee;

  --btn-padding: 0.75rem 1rem;
  --btn-radius: 18px;

  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

  --btn-bg-color: #f9b2a7;
  --btn-bg-color-intense: #f49587;
  --btn-text-light: #fff;

  --color-act-pronto: #f7f59a;
  --color-act-pasada: #f7a3a3;
  --color-act-futura: #c1faa7;

  /* gradiantes olas */
  --grad-start: #ee622a;
  --grad-end: #ff4d84;
  --grad-alt: #e86ede;

  --color-btn-login: #dc5830;

  --brand: #9c2f21;
  /* texto del filled */
  --brand-700: #c21805;
  --btn-onboarding: #8f1616ee;
  --btn-onboarding--hover: #740505f1;
  --box-activities: #fcecdd;
}

.Root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* fallback */
  min-height: 100dvh;
  /* moderno: no cuenta la scrollbar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

a {
  text-decoration: none;
}

.react-calendar {
  border-radius: 24px;
  margin: 12px 0;
  border: 0.2px solid rgb(197, 197, 197);
}

.react-calendar__navigation button,
.react-calendar__year-view .react-calendar__tile {
  border-radius: 24px;
}

.react-calendar__navigation button:hover {
  border-radius: 24px;
  border: 0.2px solid rgb(78, 77, 77);
}

/* button{
  width: 150px;
  padding: 1rem;
  border-radius: 24px;
  border: none;
  transition: border-bottom 0.3s ease-in-out;
}
button:hover{
  border-bottom: 4px solid black;

}
button:active{
  border-bottom: 1px solid black;
} */

.Body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* fallback */
  min-height: 100dvh;
  /* moderno: no cuenta la scrollbar */
  overflow: auto;
  scrollbar-width: none;
  /* ocultar en firefox */
  font-family: var(--font-main);
}

.Body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
  /* ocultar en Chrome, safari y edge */
}

html {
  overflow: auto;
  scrollbar-width: none;
}

/* SECCIONES */

.Main {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OutletWrapper {
  min-height: 100vh;
  /* fallback */
  min-height: 100dvh;
  /* moderno: no cuenta la scrollbar */
  padding-bottom: 12vh;
  /* fallback */
  padding-bottom: 12dvh;
  /* moderno: no cuenta la scrollbar */
  flex: 1;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* fallback */
  width: 100dvw;
  /* moderno: no cuenta la scrollbar */
  height: 100vh;
  /* fallback */
  height: 100dvh;
  /* para nav modernos con cambios de barra dinamicos en movil */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OutletWrapper--calendario {
  background-color: var(--color-bg-calendar);
}

.Error-link {
  margin-top: 20px;
  font-size: 600;
  color: white;
  padding: var(--btn-padding);
  background-color: var(--color-act-pasada);
  border: 4px solid #c72b2b;
  border-radius: var(--btn-radius);
}

@media (min-width: 768px) {
  .react-calendar {
    min-width: 500px;
    margin: 30px 0;
  }
}

@media (min-width: 1024px) {
  .react-calendar {
    min-width: 600px;
    margin: 40px 0;
  }
}
