:root {


  --color-text-p: #333;
  --color-text-s: #555;
  --color-text-t: #999;

  --font-main: 'Nunito', sans-serif;
  --font-logo: 'Quicksand', sans-serif;
  --color-bg: linear-gradient(0deg, #68bedb8e, #d4e4ef00);

  --btn-padding: 0.75rem 1rem;
  --btn-radius: 18px;

  --box-shadow: 0 8px 24px rgba(0,0,0, 0.08);

  --btn-bg-color: linear-gradient(135deg, #4fd1c5, #38b2ac);
  --btn-text-light: #fff;

  --color-act-pronto: #f1ef86;
  --color-act-pasada: #f38989;
  --color-act-futura: #b2f493;
}


.Root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.react-calendar {
  border-radius: 24px;
  margin: 12px 0;
  border: 0.2px solid rgb(197, 197, 197);
}

.react-calendar__navigation button,
.react-calendar__year-view .react-calendar__tile {
  border-radius: 24px;

}

.react-calendar__navigation button:hover {
  border-radius: 24px;
  border: 0.2px solid rgb(78, 77, 77);

}

/* button{
  width: 150px;
  padding: 1rem;
  border-radius: 24px;
  border: none;
  transition: border-bottom 0.3s ease-in-out;
}
button:hover{
  border-bottom: 4px solid black;

}
button:active{
  border-bottom: 1px solid black;
} */

.Body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  /* ocultar en firefox */
  font-family: var(--font-main);

}

.Body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
  /* ocultar en Chrome, safari y edge */
}

html {
  overflow: auto;
  scrollbar-width: none;
}

/* SECCIONES */

.Main {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.OutletWrapper {
  min-height: 100vh;
  padding-bottom: 12vh;
  flex: 1;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}