/* FOOTER */

.Footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    border-radius: 50px 50px 0 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}