/* FOOTER */

.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    border-radius: 50px 50px 0 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}

.Footer-nav {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.Footer-ul {
    display: flex;
    gap: 20px;
}

.Footer-link {}

.Footer-div {
    position: absolute;
    top: -10px;
    left: 50%;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}