/* FOOTER */

.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    border-radius: 50px 50px 0 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}

.Footer-nav {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.Footer-ul {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}

.Footer-link {
    text-decoration: none;
    color: black;
}


.Footer-link.active{
    color: brown;
}

.Footer-div {
    position: absolute;
    top: -10px;
    left: 50%;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MOTION con los DOTS */

.Footer-li{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer-dots{
    position: absolute;
    /* bottom -8px, se posiciona por debajo del relative a menos 8px */
    bottom: -8px;
    display: flex;
    gap: 4px;
}

.dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(198, 76, 76);
}