/* HEADER */

.Header {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    /* position: sticky; */
    top: 0;
    z-index: 20px;
    width: 100%;
}

/* .Hamburger {
    display: flex;
    flex-direction: column;
    width: 30px;
    
    gap: 3px;
    cursor: pointer;
} */

.bar {
    width: 100%;
    height: 4px;
    background-color: black;
}

.Nav-menu {
    gap: 20px;
    display: flex;
    transition: transform 0.4s ease-out, opacity 0.3s ease-out;
    transform: translateX(0);
    opacity: 1;
}

/* .Nav-menu.Open {
    transform: translateX(0);
    opacity: 1;
} */

/* @media screen and (min-width: 768px) {

    .Nav-menu {
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: static;
        transform: none;
        opacity: 1;

    }

    .Hamburger {
        display: none;
    }

    .Nav-link {
        padding: 1;

    }

} */